{% extends 'base.html' %}
{% load static %}
{% load plurals %}
{% block content %}
    {% include 'inc/_breadcrumb.html' %}
    <div class="container my-5 py-5">
        {% include 'inc/_messages.html' %}
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                <div class="shadow-sm rounded">
                    <div class="dashboard-title">
                        <h4 class="mb-0">Бронирования</h4>
                    </div>
                    <div class="table-responsive table-desi">
                        <table class="basic-table table table-hover">
                            <thead>
                            <tr>
                                <th>Страна</th>
                                <th>Город</th>
                                <th>Отель</th>
                                <th>Дата заезда</th>
                                <th>Дата отъезда</th>
                                <th>Моя оценка</th>
                                {% if is_customer %}
                                    <th>Отменить бронь</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.hotel.country }}</td>
                                    <td>{{ reservation.hotel.city }}</td>
                                    <td>{{ reservation.hotel.name}}, {{ reservation.hotel.category }}*</td>
                                    <td>{{ reservation.arrival_date }}</td>
                                    <td>{{ reservation.departure_date }}</td>
                                    <td>{% get_rate reservations_dict reservation.hotel.id %}</td>
                                    {% if is_customer %}
                                        <td>
                                            {% if_days_difference_gt_0 reservation.deny as deny %}
                                            {% if deny %}
                                                <form action="{{ reservation.get_delete_url }}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit"
                                                            class="btn btn-sm btn-danger">Отменить
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
