{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'inc/_breadcrumb.html' %}
    <!-- Dashboard starts -->
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                <!-- Responsive Navigation Trigger -->
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                {% if is_admin %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="dashboard-stat mb-4">
                                <div class="dashboard-stat-content">
                                    <h4>{{ users_amount }}</h4>
                                    <span>Пользователей</span></div>
                                <div class="dashboard-stat-icon"><i class="bi bi-person"></i></div>
                                <div class="dashboard-stat-item">
                                    <p>Пользователей зарегистрировано на сайте</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dashboard-stat mb-4">
                                <div class="dashboard-stat-content">
                                    <h4>{{ reservations_amount }}</h4>
                                    <span>Бронирований</span></div>
                                <div class="dashboard-stat-icon"><i class="bi bi-bar-chart-line"></i></div>
                                <div class="dashboard-stat-item">
                                    <p>Количество забронированных номеров</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="dashboard-stat mb-4">
                                <div class="dashboard-stat-content">
                                    <h4>{{ reviews_count }}</h4>
                                    <span>Отзывов</span></div>
                                <div class="dashboard-stat-icon"><i class="bi bi-chat-quote"></i></div>
                                <div class="dashboard-stat-item">
                                    <p>Оставлено отзывов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-4">
                    <div class="col">
                        <div class="shadow-sm rounded">
                            <div class="dashboard-title">
                                <h4 class="mb-0">Отели</h4>
                            </div>
                            <div class="table-responsive table-desi">
                                <table class="basic-table table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Страна</th>
                                        <th>Город</th>
                                        <th>Отель</th>
                                        <th>Бронирований</th>
                                        <th>Отзывов</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hotel in hotels %}
                                        <tr>
                                            <td>{{ hotel.country }}</td>
                                            <td>{{ hotel.city }}</td>
                                            <td>
                                                <a href="{{ hotel.get_absolute_url }}">{{ hotel.name }}</a>
                                            </td>
                                            <td>{{ hotel.bookings }}</td>
                                            <td>{{ hotel.all_reviews }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if is_not_customer %}
                                <a href="#" class="nir-btn m-3">Добавить отель</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard ends -->
{% endblock %}
