{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'inc/_breadcrumb.html' with title=title %}
    {% if validlink %}
        <div class="container">
            <div class="row mt-10" style="display: flex; align-items: center; justify-content: center">
                <form method="post" class="col-sm-4" style="display: block">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Установить пароль</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>Ссылка для восстановления пароля не действительна или срок действия ссылки истек.</p>
        <p>Запросите сброс пароля повторно.</p>
        <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Сбросить пароль</a>
    {% endif %}
{% endblock %}
