{% extends "base.html" %}
{% block content %}
    {% include 'inc/_breadcrumb.html' with title=title %}
    <!-- hotel detail starts -->
    <div class="container mt-5 pt-5">
        <div class="row" style="min-height: calc(100vh - 453px)">
            <div class="col mb-4">
                <div class="col-sm-6">
                    <h3>Новый пароль установлен</h3>
                    <hr>
                    <p>Ваш новый пароль успешно установлен. Теперь вы можете войти на сайт с новым паролем.</p>
                    <p><a href="{% url 'accounts:sign-in' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- hotel detail Ends -->
{% endblock %}
