{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'inc/_breadcrumb.html' %}
    <!-- Dashboard starts -->
    <div class="container my-5 py-5">
        {% include 'inc/_messages.html' %}
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                <!-- Responsive Navigation Trigger -->
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                <div class="card border-0 shadow-sm">
                    <div class="dashboard-title">
                        <h4 class="mb-0">Мой профайл</h4>
                    </div>
                    <div class="card-body">
                        <form action="." method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 text-start">
                                <label for="formFile" class="form-label">Загрузить аватар</label>
                                {{ form.avatar }}
                            </div>
                            <div class="mb-3">
                                <label for="id_username" class="form-label">Username</label>
                                {{ form.username }}
                                {% autoescape off %}
                                    {{ form.username.errors }}
                                {% endautoescape %}
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email }}
                                {% autoescape off %}
                                    {{ form.email.errors }}
                                {% endautoescape %}
                            </div>
                            <div class="mb-3">
                                <label for="id_phone" class="form-label">Телефон</label>
                                {{ form.phone }}
                            </div>
                            <div class="mb-3">
                                <label for="country">Страна</label>
                                {{ form.country }}
                            </div>
                            <div class="mb-3">
                                <label for="city">Город</label>
                                {{ form.city }}
                            </div>
                            <div class="mb-3">
                                <label for="role">Роль</label>
                                {{ form.role }}
                            </div>
                            <button type="submit" class="nir-btn">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mt-4">
                    <div class="dashboard-title">
                        <h4 class="mb-0">Пароль</h4>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'accounts:password_change' %}"
                           class="btn btn-primary mb-2">Изменить пароль</a>
                        <a href="{% url 'accounts:password_reset' %}"
                           class="btn btn-outline-secondary mb-2">Сбросить пароль</a>
                    </div>
                </div>
                <a href="{% url 'accounts:logout' %}" class="btn btn-outline-danger mt-5">Выход</a>
            </div>
        </div>
    </div>
    <!-- Dashboard ends -->
{% endblock %}
