{% extends 'base.html' %}
{% load plurals %}
{% load static %}
{% block title %}{% endblock %}
{% block main_content %}
    <!-- form main starts -->
    <div class="form-main">
        <div class="container">
            <form action="." method="get" id="form">
                <div class="form-content w-100">
                    <h3 class="form-title text-center d-inline white">Найти отель</h3>
                    <div class="d-lg-flex align-items-end justify-content-between">
                        <div class="form-group pr-4 m-0">
                            <label for="check_in">Заезд:</label>
                            {{ form.arrival_date }}
                        </div>
                        <div class="form-group pr-4 m-0">
                            <label for="check_out">Отъезд:</label>
                            {{ form.departure_date }}
                        </div>
                        <div class="form-group pr-4 m-0">
                            <label for="person">Человек:</label>
                            {{ form.capacity }}
                        </div>
                        <div class="form-group m-0">
                            <input type="hidden" name="search" value="1">
                            <button type="submit" class="nir-btn w-100"><i class="bi bi-search"></i> Поиск</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="height: 150px"></div>
    </div>
    <!-- form main ends -->

    <!-- top destination starts -->
    <section class="container my-5 py-5">
        <div class="section-title section-title-w text-center mb-5 pb-2 w-50 mx-auto">
            <h4 class="mb-0">Направления</h4>
            <h2 class="m-0">Открой <span>лучшую страну</span></h2>
        </div>
        <div class="row d-flex align-items-center">
            {% for country in countries %}
                <div class="col-lg-4 col-md-6 p-1">
                    <div class="main-img">
                        <img src="{{ country.photo.url }}" alt="destination">
                    </div>
                    <div class="d-flex align-items-center justify-content-between bg-white py-2 px-3">
                        <h4 class="mb-0 navy">{{ country.name }}</h4>
                        <h4 class="mb-0 pink">от {% separate_integers_with_dotes country.min_price %}</h4>
                    </div>
                    <a href="{% url 'hotels:hotels-list' %}?country={{ country.pk }}" class="nir-btn">
                        <span class="white">Бронировать</span>
                        <i class="bi bi-caret-right-fill text-white"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- top destination ends -->

    <!-- top hotels starts -->
    <section class="top-destination overflow-hidden bg-navy">
        <div class="container">
            <div class="section-title section-title-w text-center mb-5 pb-2 w-50 mx-auto">
                <h4 class="mb-0 text-white">Отели</h4>
                <h2 class="m-0 text-white">Выбери <span>лучший отель</span></h2>
            </div>
            <div class="row d-flex align-items-center">
                {% for hotel in hotels %}
                    <div class="col-lg-4 col-md-6 p-1">
                        <div class="desti-image">
                            <div class="main-img">
                                <img src="{{ hotel.photo.url }}" alt="hotel">
                            </div>
                            <div class="desti-content hotel-content d-flex align-items-center justify-content-between bg-white py-2 px-3">
                                <div>
                                    <div class="pb-2">
                                            <span class="bg-navy text-white p-2 me-2">
                                                {% separate_floats_with_dotes hotel.avg_rate %}</span>{{ hotel.amount }}
                                        {% plural hotel.amount "отзыв" "отзыва" "отзывов" %}
                                    </div>
                                    <h4 class="mb-0 navy">{{ hotel.name }}</h4>
                                    <span><i class="bi bi-geo-alt me-2"></i>{{ hotel.city.name }}</span>
                                </div>
                                <div>
                                    <h4 class="mb-0 pink">от {% separate_integers_with_dotes hotel.min_price %}</h4>
                                    <span>за ночь</span>
                                </div>
                            </div>
                            <div class="desti-overlay">
                                <a href="{{ hotel.get_absolute_url }}" class="nir-btn">
                                    <span class="text-white">Бронировать</span>
                                    <i class="bi bi-arrow-right text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- top hotels ends -->

    <!-- testimonial starts -->
    <section class="testimonial pb-6 pt-9" style="background-image: url({% static 'images/testimonial.png' %})">
        <div class="container">
            <div class="text-center mb-5 pb-2 w-50 mx-auto">
                <h4 class="mb-0">Отзывы</h4>
                <h2 class="m-0">Что <span class="pink">о нас говорят</span></h2>
            </div>
            <div class="row">
                {% for review in reviews %}
                    <div class="col-sm-12">
                        <div class="testimonial-item1">
                            <div class="author-info mb-2">
                                <img src="{{ review.reservation.user.profile.avatar.url }}" alt="user">
                                <h4 class="my-1 pink">{{ review.reservation.user.first_name}}
                                    {{ review.reservation.user.last_name }}</h4>
                                <p class="my-0">{{ review.updated|date:"d E Y"}}</p>
                            </div>
                            <div class="details d-flex justify-content-between">
                                <p class="m-0">{{ review.text }}</p>
                            </div>
                            <i class="bi bi-chat-left-quote-fill"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- testimonial ends -->
{% endblock %}
