{% extends 'base.html' %}
{% load static %}
{% load plurals %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'inc/_breadcrumb.html' with title=title %}
    <!-- hotels starts -->
    <div class="container mt-5 pt-5">
        <div class="row flex-lg-row-reverse">
            <div class="col-lg-8 col-xs-12 mb-4">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for hotel in hotel_list %}
                        <div class="col">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header p-0 h-100">
                                    <a href="{{ hotel.get_absolute_url }}">
                                        <div class="main-img">
                                            <img src="{{ hotel.photo.url }}" class="card-img-top" alt="hotel">
                                        </div>
                                    </a>
                                </div>
                                <p class="bg-pink text-white py-1 px-2">
                                    <i class="bi bi-geo-alt me-2"></i>{{ hotel.city }}, {{ hotel.country }}
                                </p>
                                <div class="card-body">
                                    <div class="pb-2">
                                        <span class="bg-navy text-white p-2 me-2">{{ hotel.avg_rate  }}</span>
                                        {{ hotel.amount }} {% plural hotel.amount "отзыв" "отзыва" "отзывов" %}
                                    </div>
                                    <h4 class="mb-0">
                                        <a href="#">{{ hotel.name }}, {{ hotel.category }}*</a>
                                    </h4>
                                    <p class="mb-2">
                                        От <span class="font-weight-bold pink">
                                        {% separate_integers_with_dotes hotel.min_price %} </span>/ ночь
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'inc/_pagination.html' with is_filter_used=is_filter_used query=query %}
            </div>
            {% include 'inc/_hotels_filter.html' with form=form %}
        </div>
    </div>
    <!-- hotels Ends -->
{% endblock %}
