{% extends 'base.html' %}
{% load static %}
{% load plurals %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% include 'inc/_breadcrumb.html' with title=title %}
    <!-- hotel detail starts -->
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col mb-4">
                <!-- description -->
                <div class="description">
                    <div class="border-b mb-2 pb-2">
                        {% if hotel.repaired_recently %}
                            <p class="my-3">
                                <span class="bg-pink p-3 text-white">Недавно отремонтирован</span>
                            </p>
                        {% endif %}
                        <h4 class="font-weight-bold mb-0 me-2 d-inline-block">
                            {{ hotel.name }}
                        </h4>
                        <div class="rating d-inline-block">
                            {% with ''|center:hotel.category as range %}
                                {% for _ in range %}
                                    <span class="bi bi-star-fill"></span>
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <p class="mb-0">
                            <i class="bi bi-geo-alt me-2"></i>{{ hotel.city }}, {{ hotel.country }}
                        </p>
                    </div>
                    <img src="{{ hotel.photo.url }}" alt="image">
                    <div class="my-4">
                        <h4>Описание</h4>
                        {% autoescape off %}
                            {{ hotel.description }}
                        {% endautoescape %}
                    </div>
                    <div class="my-4">
                        <h4>Сервис</h4>
                        <table class="table">
                            <tbody>
                            {% for option in options %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <td>{{ option.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="my-4 card shadow-sm">
                        <div class="card-body">
                            <h4>Наличие мест</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Дата заезда</h5>
                                    {% if arrival_date %}
                                        <h6 class="text-primary">{{ arrival_date|date:"d E Y" }}</h6>
                                    {% else %}
                                        <h6 class="text-secondary">&#45;&#45;</h6>
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    <h5>Дата отъезда</h5>
                                    {% if departure_date %}
                                        <h6 class="text-primary">{{ departure_date|date:"d E Y"}}</h6>
                                    {% else %}
                                        <h6 class="text-secondary">&#45;&#45;</h6>
                                    {% endif %}
                                </div>
                                <div class="col-md-3 text-center">
                                    <h5>Доступность</h5>
                                    {% if rooms_data %}
                                        <h6 class="text-success"><i class="bi bi-calendar-check me-2"></i>Есть места</h6>
                                    {% elif not arrival_date or not departure_date %}
                                        <h6 class="text-secondary">Выберите даты</h6>
                                    {% else %}
                                        <h6 class="text-secondary"><i class="bi bi-calendar-x me-2"></i>Мест нет</h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <h4>Выбор номера</h4>
                        {% for room in rooms %}
                            <div class="card mb-3">
                                <div class="row g-0 align-items-center">
                                    <div class="col-md-4">
                                        <img src="{{ room.photo.url }}" class="img-fluid rounded-start" alt="room">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h4 class="card-title">{{ room.type  }}</h4>
                                                    <p class="card-text">{{ room.description }}</p>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <p class="mb-1">
                                                        {% separate_integers_with_dotes room.price %} / ночь
                                                    </p>
                                                    <a href="../booking_list.html" class="nir-btn w-100">Я бронирую</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="my-4">
                        <h4>Рейтинг отеля</h4>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="bg-pink text-center p-4">
                                    <h2 class="text-white">
                                        <span>{% separate_floats_with_dotes hotel.avg_rate %}</span>/5
                                    </h2>
                                    <p class="text-white">
                                        Всего {{ reviews_amount }}
                                        {% plural reviews_amount "отзыв" "отзыва" "отзывов" %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-comments single-box my-4">
                        <h4>Отзывы</h4>
                        <div class="row">
                            <div class="col">
                                {% for review in reviews %}
                                    <div class="comment-box">
                                        <div class="comment-image" style="max-width: 150px; max-height: 150px">
                                            <img src="{{ review.user.profile.avatar.url }}" alt="image">
                                        </div>
                                        <div class="comment-content w-100">
                                            <h5 class="mb-1">{{ review.user.first_name }}</h5>
                                            <p class="comment-date">{{ review.created|date:"t E Y" }}</p>
                                            <div class="comment-rate">
                                                <div class="rating mar-right-15">
                                                    {% with ''|center:review.rate as range %}
                                                        {% for _ in range %}
                                                            <span class="bi bi-star-fill"></span>
                                                        {% endfor %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                            <p class="comment">{{ review.text }}</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Пока отзывов нет.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <h4>Оставить отзыв</h4>
                        {% if user.is_authenticated %}
                            <div class="my-4 card border-0 shadow">
                                <div class="card-body">
                                    <form action=".." method="post">
                                        <label for="id_rate">Оценка:</label>
                                        <input type="number" name="rate" class="form-control" required="" id="id_rate">
                                        <label for="id_text">Текст отзыва:</label>
                                        <textarea name="text" cols="40" rows="3" maxlength="500" class="form-control"
                                                  id="id_text"></textarea>
                                        <button type="submit" class="btn btn-primary mt-3">Отправить отзыв</button>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <p>
                                <a href="#" style="color: #F56961">Войти</a>
                                или
                                <a href="#" style="color: #F56961">зарегистрироваться</a>,
                                чтобы оставить отзыв
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hotel detail Ends -->
{% endblock %}