{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'inc/_breadcrumb.html' %}
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="card border-0 shadow-sm">
                            <div class="dashboard-title">
                                <h4 class="mb-0">Основная информация</h4>
                            </div>
                            <div class="card-body">
                                <form action="." method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-3 text-start">
                                        <label for="formFile" class="form-label">Фотография отеля</label>
                                        {{ form.photo }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_title" class="form-label">Название</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_category" class="form-label">Категория (звездность)</label>
                                        {{ form.category }}
                                    </div>
                                    <div class="mb-3 form-check">
                                        {{ form.repaired_recently }}
                                        <label class="form-check-label" for="id_recently_renovated">
                                            Недавно отремонтирован
                                        </label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_services" class="form-label">Сервис</label>
                                        {{ form.options }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_description" class="form-label">Описание</label>
                                        {{ form.description }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="country">Страна</label>
                                        {{ form.country }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="city">Город</label>
                                        {{ form.city }}
                                    </div>
                                    <button type="submit" class="nir-btn">
                                        Сохранить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% if 'update' in request.path %}
                    <div class="row mb-5">
                        <div class="col-12">
                            <div class="card border-0 shadow-sm">
                                <div class="dashboard-title">
                                    <h4 class="mb-0">Номерной фонд</h4>
                                </div>
                                <div class="table-responsive table-desi">
                                    <table class="basic-table table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Фото</th>
                                            <th>Тип номера</th>
                                            <th>Цена за ночь</th>
                                            <th>Описание</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for room in rooms %}
                                            <tr>
                                                <td>
                                                    <a href="{{ room.get_update_url }}">
                                                        <img src="{{ room.photo.url }}" alt="" class="w-75">
                                                    </a>
                                                </td>
                                                <td>{{ room.type }}</td>
                                                <td>{{ room.price }}</td>
                                                <td>{{ room.description }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <a href="{% url 'hotels:create-room' %}" class="nir-btn m-3">Добавить номер</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
