{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'inc/_breadcrumb.html' %}
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                <div class="card border-0 shadow-sm">
                    <div class="dashboard-title">
                        <h4 class="mb-0">
                            Номер {{ room.type }},
                            <a href="{{ room.hotel.get_absolute_url }}" class="pink">{{ room.hotel.name }}</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{{ room.hotel.get_update_url }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 text-start">
                                <label for="formFile" class="form-label">Фотография номера</label>
                                {{ form.photo }}
                            </div>
                            <div class="mb-3">
                                <label for="id_type">Тип номера</label>
                                {{ form.type }}
                            </div>
                            <div class="mb-3">
                                <label for="id_price">Цена за ночь</label>
                                {{ form.price }}
                            </div>
                            <div class="mb-3">
                                <label for="id_description">Описание</label>
                                {{ form.description }}
                            </div>
                            <button type="submit" class="nir-btn">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
