{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'inc/_breadcrumb.html' %}
    <div class="container my-5 py-5">
    {% include 'inc/_messages.html' %}
        <div class="row">
            <div class="col-lg-3">
                {% include 'inc/_profile_info.html' %}
                {% include 'inc/_profile_navigation.html' %}
            </div>
            <div class="col-lg-9">
                {{ formset.non_form_errors }}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <div class="card border-0 shadow-sm">
                        <div class="dashboard-title">
                            <h4 class="mb-0">
                                Создание номеров для
                                <a href="{{ hotel.get_update_url }}" class="pink">{{ hotel.name }}</a>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for form in formset %}
                                    <div class="col-md-6">
                                        <div class="card-header mb-3 text-center">
                                            Номер {{ forloop.counter }}
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label for="formFile1" class="form-label">Фотография номера</label>
                                            {{ form.photo }}
                                            {{ form.photo.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_type1">Тип номера</label>
                                            {{ form.type }}
                                            {{ form.type.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_price1">Цена за ночь</label>
                                            {{ form.price }}
                                            {{ form.price.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_description1">Описание</label>
                                            {{ form.description }}
                                            {{ form.description.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div style="padding: 1rem">
                                    <button type="submit" class="nir-btn">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
