{% load static %}
<!-- BreadCrumb Starts -->
<section class="breadcrumb-main{% if 'user' in request.path or 'password' in request.path or 'create' in request.path or 'update' in request.path %} pb-2{% else %} pb-0 mb-5{% endif %}"
         style="background-image: url({% static 'images/bg/bg8.jpg' %});">
    {% if 'user' in request.path or 'password' in request.path or 'create' in request.path or 'update' in request.path %}
    {% else %}
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">{{ title }}</h2>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
