{% load static %}
<!-- banner starts -->

<section class="px-4 d-flex align-items-center" style="min-height: 700px;
        background-image:url({% static 'images/slider/11.jpg' %})">
    <div class="container">
        <h4 class="text-white">Выбери лучшее направление</h4>
        <h1 class="text-white mb-4">Сделай свою поездку незабываемой</h1>
        <a href="{% url 'hotels:hotels-list' %}" class="per-btn">
            <span class="text-white">Найти отель</span>
            <i class="bi bi-chevron-right text-white ms-0"></i>
        </a>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- banner ends -->